<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/simplex/bootstrap.min.css">
  <%= stylesheet_link_tag "devise_stuff.css" %>

</head>
<body>

  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "RouteMe", home_path, class: "navbar-brand" %>
      </div>
      <center>
        <div class="navbar-collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", home_path %></li>
          </ul>
          <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %></li>
          </ul>
          <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path %></li>
          </ul>
          <% end %>
        </div>
      </center>
    </div>
  </div>

  <% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>"><%= value %></div>
  <% end %>

  <div class="container">



<%= yield %>
  
  </div>


<!-- Templates -->


<script type = "x-handlebars-template" class = "rail-template">
  <tr>
    <td>{{Line}}</td>
    <td>{{DestinationName}}</td>
    <td>{{Min}}</td>
    <td class = "td-button"><button class='btn btn-default remove-button' onclick = 'removeFun(this.id)' id = '{{DestinationName}}' type='submit'>Remove</button></td>
    <td class = "td-button"><button class='btn btn-default fav-button' onclick = 'favFun(this.id)' id = '{{DestinationName}}' type='submit'>Fav</button></td>
  </tr>
</script>

<script type = "x-handlebars-template" class = "zipcar-template">
  <tr>
    <td>{{status}}</td>
    <td>{{location}}</td>
    <td>{{nov}}</td>
  </tr>
</script>

<script type = "x-handlebars-template" class = "uber-template">
  <tr>
    <td>{{display_name}}</td>
    <td>{{estimate}}</td>
    <td class = "td-button"><button class='btn btn-default remove-button' onclick = 'removeFun(this.id)' id = '{{display_name}}' type='submit'>Remove</button></td>
    <td class = "td-button"><button class='btn btn-default fav-button' onclick = 'favFun(this.id)' id = '{{display_name}}' type='submit'>Fav</button></td>
  </tr>
</script>

<script type = "x-handlebars-template" class = "capital-bikeshare-template">
  <tr>
    <td>{{name}}</td>
    <td>{{bikes}}</td>
    <td>{{empty}}</td>
    <td class = "td-button"><button class='btn btn-default remove-button' onclick = 'removeFun(this.id)' id = '{{name}}' type='submit'>Remove</button></td>
    <td class = "td-button"><button class='btn btn-default fav-button' onclick = 'favFun(this.id)' id = '{{name}}' type='submit'>Fav</button></td>
  </tr>
</script>

<script type = "x-handlebars-template" class = "bus-template">
  <tr>
    <td>{{RouteID}}</td>
    <td>{{DirectionText}}</td>
    <td>{{Minutes}}</td>
      <td class = "td-button"><button class='btn btn-default remove-button' onclick = 'removeFun(this.id)' id = '{{RouteID}}' type='submit'>Remove</button></td>
      <td class = "td-button"><button class='btn btn-default fav-button' onclick = 'favFun(this.id)' id = '{{RouteID}}' type='submit'>Fav</button></td>
  </tr>
</script>



<script type="x-handlebars-template" class = "uber-header-template">
          <table class = "uber-table">
          <caption>Uber</caption>
            <th>Type</th>
            <th>Estimated Time (sec)</th>
        </table>
</script>

<script type="x-handlebars-template" class = "bikeshare-header-template">
          <table class = "bikeshare-table">
          <caption>Capital Bikeshare</caption>
            <th>Station</th>
            <th># of Bikes</th>
            <th># Empty</th>
        </table>
</script>

<script type="x-handlebars-template" class = "zipcar-header-template">
          <table class = "zipcar-table ">
          <th>ZipCaR</th>
          <th>Location</th>
          <th>Vehicles</th>
        </table>
</script>

<script type="x-handlebars-template" class = "metro-rail-header-template">
      <table class = "metro-rail-table">
        <caption>{{LocationName}}</caption>
        <th>Line</th>
        <th>Destination</th>
        <th>Minutes</th>
      </table>
</script>

<script type="x-handlebars-template" class="metro-bus-header-template">
        <table class = "metro-bus-table">
          <caption>{{LocationName}}</caption>
          <th>Route ID</th>
          <th>Direction</th>
          <th>Min</th>
        </table>
</script>

<script type="x-handlebars-template" class = "logo-template">
 <img class = "{{className}} logo" src = "{{src}}"/>
 </script>

<!-- end Templates -->



</body>
</html>
